.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 6rem;
  min-height: 100vh;
}

.description {
  font-size: 0.85rem;
  width: 100%;
  z-index: 2;
  font-family: var(--font-mono);
}
